[submodule "contrib/neml"]
       path = contrib/neml
       url = https://github.com/Argonne-National-Laboratory/neml.git
       ignore = untracked
[submodule "moose"]
	path = moose
	url = ../../idaholab/moose
[submodule "contrib/neml2"]
	path = contrib/neml2
	url = https://github.com/reverendbedford/neml2.git
	branch = blackbear
	ignore = untracked
